<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/profile.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


</head>

<body class="col s12">
    <section>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo left">Foods-To-Do</a>
                <ul class="right">
                    <li><a href="recommendations" class="">My To-Dos</a></li>
                </ul>
            </div>
        </nav>
    </section>
    <div class="about-me col s12 m8 offset-m2 l6 offset-l0">
        <div class="row valign-wrapper">
            <div class="col s2 offset-s1 pull-s1">
                <img src="/images/homer.jpg" alt="profilepic" class="profile-pic responsive-img right">
            </div>
            <div class="about-me-text"col s8 pull-s1">
                <h5 class="name s4 m6 l6">Homer Simpson</h5>
                <p class="status">  
                    I just want to drink a nice glass of syrup like I do every morning.
                    
                </p>
                
            </div>
        </div>
    </div>
    <section class="recent-eats">
        <div class="row center-align recent-content">
            <h4 class="col s12 recent-header">Recent Eats</h4>
            <section class="recent-restaurants col l12">
                <div class="restaurant-card left-column col s12 m12 l4">
                    
                    <div class="card">
                        <div class="card-image">
                            <a href="https://www.universalorlando.com/web/en/us/things-to-do/dining/lard-lad-donuts/index.html">
                            <img src="/images/lard-lads.png">
                            </a>
                            <span class="card-title"></span>
                        </div>
                        <div class="card-content">
                            <h5>Lard Lads Donuts</h5>
                                <p>What I Recommend: Mmmmm Donuts.
                                    <br>
                                    <br>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </p>
                        </div>
                        
                    </div>
                </div>

                <div class="restaurant-card middle-column col s12 m12 l4 ">
                    
                    <div class="card">
                        <div class="card-image">
                            <a href="https://www.universalstudioshollywood.com/things-to-do/dining/moes-tavern/">
                            <img src="/images/moes.png">
                            </a>
                            <span class="card-title"></span>
                        </div>
                        <div class="card-content">
                            <h5>Moe's Tavern</h5>
                                <p>What I Recommend: Duff Beer.
                                    <br>
                                    <br>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </p>
                        </div>
                    </div>


                </div>
                <div class="restaurant-card right-column col s12 m12 l4 ">
                    
                    <div class="card">
                        <div class="card-image">
                            <a href="https://www.universalstudioshollywood.com/things-to-do/dining/krusty-burger//">
                            <img src="/images/krustyburger.png">
                            </a>
                            <span class="card-title"></span>
                        </div>
                        <div class="card-content">
                            <h5>Krusty Burger</h5>
                                <p>What I Recommend: Burgers.
                                    <br>
                                    <br>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

</body>

</html>